html {
    background-image: linear-gradient(to bottom right, purple, purple, silver, black);
    height: 100%;
    width: 100%;
  }
  
  #headerOne {
    text-align: center;
    color: black;
    text-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
  }
  
  .input-container {
    background-color: white;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    margin-top: 2em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
  }
  
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;

  }
  
  .search-wrapper button {
    font-size: 1em;
    background-color: purple;
    color: white;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
  }
  
  .search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid purple;
    outline: none;
    color: black;
  }
  
  #populationContainer {
    position: absolute;
    bottom: 1em;
    width: 25%;
    left: 25%;
    background-color: white;
    padding: 1em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
    text-align: center;
    font-size: 1em;
  } 
  
  #startupSalaryContainer {
    position: absolute;
    top: 40%;
    width: 25%;
    left: 25%;
    background-color: white;
    padding: 1em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
    text-align: center;
    font-size: 1em;
  }

  #crimeRateContainer {
    position: absolute;
    top: 1em;
    width: 25%;
    left: 25%;
    background-color: white;
    padding: 1em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
    text-align: center;
    font-size: 1em;
  }

  #climateDataContainer {
    position: absolute;
    top: 50%; 
    width: 25%; 
    right: 25%;
    background-color: white;
    padding: 1em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
    text-align: center;
    font-size: 1em;
}